<!-- app.component.html -->
<h1>Meow World</h1>
<h1>PawCode - Hello World!!</h1>
<bowl-router></bowl-router>
<div>-----------------------------</div>
<div @pawIf="{{conditionA}}">
  <div>This content A will be shown or hidden based on the condition. Hello {{name}}!</div>
</div>
<div>-----------------------------</div>
<div @pawIf="{{conditionB}}">
  <div>This content B will be shown or hidden based on the condition. Hello {{name}}!</div>
</div>
<div>-----------------------------</div>
<div pawFor="let index=0; index<{{times}}; index++">
  <div>This content will be iterated based on times value: {{times}}. Index: {{index}}!</div>
</div>
